@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.contact-body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  /*background-color: #232f3e;*/
  background: #007bff;
  height: 100vh;
  background: linear-gradient(to right, #0062e6, #33aeff);
  padding: 1em 2em 10em 2em;
}
.ctop {
  display: flex;
  align-items: center;
}
.ctop h3 {
  margin-left: 2em;
  color: white;
  text-decoration: none;
}
.clogo {
  width: 120px;
  height: 120px;
}
.cform-container {
  padding: 1em 2.5% 0 1.2%;
  background-color: white;
  border-radius: 1em;
  filter: drop-shadow(0 0 30px #c4c4c4);
  margin-bottom: 5em;
}
.cform-container h1 {
  margin: 0 0 0.5em 0;
  font-weight: 400;
}
label {
  margin: 1em;
  font-weight: bold;
}
.cform-container form input {
  display: block;
  margin: 1em;
  width: 93%;
  padding: 0.5em;
  font-size: 1em;
}
.cform-container input[type="submit"] {
  background-color: #007bff;
  color: white;
  width: 10em;
  padding: 0.8em;
  margin: 1.5em 1em 1em 1em;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5em;
}
.cform-container input[type="submit"]:hover {
  background-color: #005bbd;
}
.cform-container input[type="text"] {
  background-color: #e9e9e9;
  border-radius: 5em;
  border: none;
}
textarea:focus {
  background-color: white;
}
.cform-container input[type="email"] {
  background-color: #e9e9e9;
  border-radius: 5em;
  border: none;
}
.cform-container input[type="email"]:focus {
  background-color: white;
}
.cform-container input[type="text"]:focus {
  background-color: white;
}
textarea {
  font-family: "Roboto", sans-serif;
  background-color: #e9e9e9;
  display: block;
  margin: 1em;
  padding: 0.5em;
  width: 93%;
  border-radius: 1em;
  border: none;
  font-size: 1em;
}
.crest {
  display: flex;
  margin: 2em 7em 2em 10em;
  justify-content: space-between;
}
.cill {
  filter: drop-shadow(0 0 10px white);
  width: 500px;
  height: 500px;
  margin: 3em 6em 6em 10em;
}

@media (max-width: 1200px) {
  .contact-body {
    margin: 0;
    margin-bottom: -1.5em;
    height: auto;
    width: auto;
  }
  textarea {
    width: 90%;
  }

  .cill {
    visibility: collapse;
    margin: 0;
    padding: 0;
    width: 0;
  }
  .ctop {
    flex-direction: column;
  }
  .ctop h3 {
    margin-top: 0;
    margin-bottom: 0.5em;
    font-weight: 400;
    margin-left: 0;
  }
  /* .clogo{
    margin: .5em 0 .5em 35%;
  } */
  .cform-container {
    padding: 1em 1em;
    width: 100%;
  }
  .crest {
    padding: 0;
    margin: 0;
  }
  .cform-container form input {
    width: 90%;
  }
  textarea {
    width: 90%;
  }
  .cform-container input[type="submit"] {
    margin-top: 1.5em;
    margin-bottom: 1.2em;
    width: 93%;
    font-size: 1.1em;
  }
}
